<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index', ~{::title})}">
<head>
	<title>Contact Us | American Funds</title>
	
</head>
<body>
	<script src="/textMeApp/textMeApp.js"></script>
	<script src="/textMeApp/resources/phoneValidation.js"></script>
	<script src="/textMeApp/resources/requestSms.js"></script>
	<div class="titleBar parbase title-bar">
		<div class="ns-title-bar standard">
			<div class="h1"> 
	        	<p class="title-text ">Contact Us</p> 
	       </div>
		</div>
	</div>

	<div class="disclosure-jumplink-class" data-jumplink-type="page" data-jumplink-id="f8fce246-77b9-40f3-9d8d-927d87b3a6a2"></div>
	<div class="ns-main-parsys">
		<div class="parsys mainParsys">
			<div class="parsys_column cq-colctrl-lt4">
				<div class="parsys_column cq-colctrl-lt4-c0">
					<div class="parbase richtext section text">
						<div class="ns-rte ">
							<div class="disclosure-jumplink-class"
								data-jumplink-type="component"
								data-jumplink-id="97b718a4-8613-47f2-987e-091e8bdbd0cd"></div>
							<div>
								<h3>Want Help 24/7?</h3>
								<p>Use these online resources anytime:</p>
								<p>
									<a href="https://www.americanfunds.com/advisor/service.html" adhocenable="false">Service
										Center</a>&nbsp;— Get step-by-step guidance on procedures and
									selecting forms to help set up or service accounts.
								</p>
								<p>
									<a href="https://www.americanfunds.com/advisor/literature.htm" adhocenable="false">Forms
										&amp; Literature</a>&nbsp;— Search for, download or order
									literature and forms.
								</p>
								<p>
									<a
										href="https://www.americanfunds.com/advisor/preferences/mailing-address-and-phone-numbers.htm"
										adhocenable="false">Profile Updates</a>&nbsp;—&nbsp;Request an
									update to your name, address or broker-dealer information.
								</p>
								<p></p>
								<p></p>
							</div>
						</div>
					</div>
				</div>
				<div class="parsys_column cq-colctrl-lt4-c1">
					<div class="background parbase section">
						<div class="capital-blue20">
							<div class="ns-background" style="min-height: px">
								<div class="backgroundpar parsys">
									<div class="parbase richtext section text">
										<div class="ns-rte ">
											<div class="disclosure-jumplink-class"
												data-jumplink-type="component"
												data-jumplink-id="b20e2eba-5dd4-4840-84e1-59c6dd9626f6"></div>
											<div>
												<h3>
													<a adhocenable="false"
														href="https://www.americanfunds.com/advisor/preferences/communication-preferences.htm">Stay
														Informed With Email Alerts</a>
												</h3>
												<p>Subscribe today to receive customized account
													activity notifications by email for your book of
													business.&nbsp;</p>
												<p></p>
												<p></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="clear: both"></div>
			<div class="sticky-anchor-link parbase section">
				<div id="sticker-sticky-wrapper" class="sticky-wrapper"
					style="width: 970px; margin-left: auto; margin-right: auto; height: 53px;">
					<div class="ns-sticky-anchor-links-component" id="sticker"
						style="width: 970px;">
						<div class="row-fluid">
							<div class="span3">
								<div class="anchor-link" style="height: 50px;">
									<a href="#phone" class="sticky-scroll"><span>Call/Fax/SMS</span></a>
								</div>
							</div>
							<div class="span3">
								<div class="anchor-link" style="height: 50px;">
									<a href="#mail" class="sticky-scroll"><span>Mail</span></a>
								</div>
							</div>
							<div class="span3">
								<div class="anchor-link" style="height: 50px;">
									<a href="#online" class="sticky-scroll"><span>Submit
											Documents Online</span></a>
								</div>
							</div>
							<div class="span3">
								<div class="anchor-link" style="height: 50px;">
									<a href="#website" class="sticky-scroll"><span>Comment
											on Our Website</span></a>
								</div>
							</div>
						</div>
						<div class="sticky-anchor-dropdown">
							<button class="btn wide jumper">Jump To</button>
							<div class="sticky-anchor-menu">
								<ul
									class="count_[com.capgroup.wcm.cgc.content.StickyAnchorLink@3c384001, com.capgroup.wcm.cgc.content.StickyAnchorLink@52797d5, com.capgroup.wcm.cgc.content.StickyAnchorLink@2afe6e85, com.capgroup.wcm.cgc.content.StickyAnchorLink@364cf829]">
									<li>
										<div class="anchor-link" style="height: 0px;">
											<a href="#phone" class="sticky-scroll"><span>&nbsp;Call/Fax/SMS</span></a>
										</div>
									</li>
									<li>
										<div class="anchor-link" style="height: 0px;">
											<a href="#mail" class="sticky-scroll"><span>&nbsp;Mail</span></a>
										</div>
									</li>
									<li>
										<div class="anchor-link" style="height: 0px;">
											<a href="#online" class="sticky-scroll"><span>&nbsp;Submit
													Documents Online</span></a>
										</div>
									</li>
									<li>
										<div class="anchor-link" style="height: 0px;">
											<a href="#website" class="sticky-scroll"><span>&nbsp;Comment
													on Our Website</span></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<script>
	$(document).ready(function() {
		$("#sticker").sticky({ topSpacing: 0, center:true, className:"sticky" });
		$(window).resize(function() {
			$("#sticker").sticky('update');
		});
	});
	</script>
						<hr class="thick">
					</div>
				</div>
			</div>
			<div class="parbase anchor section">
				<span class="sticky-el" id="phone"></span>
			</div>
			<div class="parbase richtext section text">
				<div class="ns-rte ">
					<div class="disclosure-jumplink-class"
						data-jumplink-type="component"
						data-jumplink-id="17abe4ba-e84a-4293-ad07-0cc5cf2ec39a"></div>
					<div>
						<h3>
							Call/Fax/SMS<br>
						</h3>
						<h4>American Funds Contacts</h4>
						<p>Advisor Marketing and Account Services representatives are
							available 8:00 a.m. to 7:00 p.m. Eastern time, Monday through
							Friday.</p>
					</div>
				</div>
			</div>
			<div class="parbase section contacts">
				<div class="ns-contacts" id="ns-contacts-0">
					<link rel="stylesheet"
						href="https://www.americanfunds.com/apps/nextgen/components/content/contacts/clientlibs.min.css"
						type="text/css">
					<script type="text/javascript"
						src="https://www.americanfunds.com/apps/nextgen/components/content/contacts/clientlibs.min.js"></script>
					<h3></h3>
					<div class="contacts-container row">
						<div class="mbp-row">

							<div class="contact span2 sub-section-margin"
								style="height: 103px;">

								<img
									src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/default_contact_img_57x57.gif">

								<div>
									<strong>Advisor Marketing</strong>
								</div>

								<div class="contact-phone">
									<a href="tel:(800) 421-9900">(800) 421-9900</a>
								</div>


							</div>


						</div>
					</div>
					<div ng-app="textMeApp">
					    <div ui-view></div>
					</div>
					<script class="contacts-template" type="text/x-handlebars-template">
<div class="mbp-row">
{{#each contacts}}
	<div class="contact span2 sub-section-margin">
	{{#if this.imagePath}}
		<img src="{{this.imagePath}}"/>
	{{/if}}
		<div><strong>{{this.fullNameDisplay}}</strong></div>
	{{#if this.label}}
		<div>{{this.label}}</div>
	{{/if}}
		<div class="contact-phone"><a href="tel:{{this.phoneDisplayNoExtension}}">{{this.phoneDisplayNoExtension}}</a></div>
	{{#if this.phoneExtension}}
		<div>ext. <span class="contact-phone">{{this.phoneExtension}}</span></div>
	{{/if}}
	{{#if this.more}}
		<div class="ns-content-utility active hr"><a href="{{this.more.href}}" data-link-type="custom" class="custom"><span class="icon"></span>{{this.more.text}}</a></div>
	{{/if}}
	</div>
	{{#if this.breakMediumBreakpoint}}
</div>
<div class="mbp-row">
	{{/if}}
{{/each}}
</div>
	</script>
					<script>
		(function(Contacts, CQ_Analytics){

			var generics = {
				"contacts": {
					"0": {
			
						"fullNameDisplay": "Advisor Marketing",
			
			


							"phoneDisplayNoExtension": "(800) 421-9900"
				
				
				
							, "imagePath": "https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/default_contact_img_57x57.gif"
				
				        }
				
							, "57": {
					
					

						"phoneDisplayNoExtension": "(800) 421-9945"
					
					
						, "label": "Edward Jones Service Team"
					
					
						, "imagePath": "https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/default_contact_img_57x57.gif"
					
						}
				
							, "36000": {
					
							"fullNameDisplay": "Ryan D Moore",
					
					

						"phoneDisplayNoExtension": "(800) 421-2691"
					
					
						, "label": "Investment Advisory Relationship Manager"
					
					
						, "imagePath": "https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/default_contact_img_57x57.gif"
					
						}
				
							, "36000": {
					
							"fullNameDisplay": "Kevin M Clemson",
					
					

						"phoneDisplayNoExtension": "(213) 615-0080"
					
						, "phoneExtension": "90080"
					
					
						, "label": "Advisory Specialist"
					
					
						, "imagePath": "https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/icons/default_contact_img_57x57.gif"
					
						}
				
					}
				
				};
			
			Contacts.init(CQ_Analytics);
			Contacts.populate(generics);
		})(Contacts, CQ_Analytics);
	</script>
				</div>
			</div>
			<div class="parbase section login">
				<link rel="stylesheet"
					href="https://www.americanfunds.com/apps/nextgen/components/content/login/clientlibs.min.css"
					type="text/css">
				<div class="ns-login">
					<div class="login-table-container">
						<div class="login-table-row">
							<div class="login-button-cell">
								<a
									class="btn  btn-small state-site-tier-one state-site-default lock"
									href="https://www.americanfunds.com/advisor/login.htm?next=%2Fadvisor%2Fcontact-us.html"><span
									class="icon"></span><span class="login-button-text">LOG
										IN FOR PERSONALIZED CONTACTS</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="parsys_column cq-colctrl-lt0">
				<div class="parsys_column cq-colctrl-lt0-c0">
					<div class="parbase richtext section text">
						<div class="ns-rte ">
							<div class="disclosure-jumplink-class"
								data-jumplink-type="component"
								data-jumplink-id="8c9f6c57-c390-4d1b-b4e5-76c093cb7c86"></div>
							<div>
								<h3>Account Services</h3>
								<h4>American Funds Service Company®</h4>
								<p>
									Call: <span class="phone-number"><a
										href="tel:(800) 421-0180">(800) 421-0180</a></span>&nbsp; |
									&nbsp;Fax: (888) 421-4351<br>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="parsys_column cq-colctrl-lt0-c1"></div>
			</div>
			<div style="clear: both"></div>
			<div class="parbase anchor section">
				<span class="sticky-el" id="mail"></span>
			</div>
			<div class="parbase richtext section text">
				<div class="ns-rte ">
					<div class="disclosure-jumplink-class"
						data-jumplink-type="component"
						data-jumplink-id="98c0388c-7e68-428a-8241-ebca8a262b98"></div>
					<div>
						<hr class="thick">
						<h3>
							Mail<br>
						</h3>
						<h4>Account Services – American Funds Service Company®</h4>
						<p>If you reside outside the United States, please send mail
							to the Indiana service center.</p>
					</div>
				</div>
			</div>
			<div class="parsys_column cq-colctrl-lt0">
				<div class="parsys_column cq-colctrl-lt0-c0">
					<div class="parbase section media">
						<div
							class="ns-media-component standard f3d0357c-fcd1-4316-89cd-d79ed8945c9b ">
							<div class="option-layout ">
								<div class="media-padding">
									<div class="disclosure-jumplink-class"
										data-jumplink-type="image"
										data-jumplink-id="a8aeeb28-4579-4a5d-a014-c6a1ff804dda"></div>
								</div>
								<div class="option-layout padding-lr-none">
									<div class="media-image ">
										<div class="image padding-lr-none">
											<img
												src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/infographic/us_map_1.jpg"
												alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<script>
        mapEnableFeatures("f3d0357c-fcd1-4316-89cd-d79ed8945c9b","","https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/infographic/us_map_1.jpg");
</script>
					</div>
					<div class="parbase richtext section text">
						<div class="ns-rte ">
							<div class="disclosure-jumplink-class"
								data-jumplink-type="component"
								data-jumplink-id="fbf5b703-a449-4ca0-9b28-b5e4bafe6661"></div>
							<div>
								<h3></h3>
								<h3>Indiana Service Center</h3>
								<h4>American Funds Service Company</h4>
								<p>
									P.O. Box 6007<br> Indianapolis, IN 46206-6007
								</p>
								<h4>Capital Bank and Trust Company</h4>
								<p>
									P.O. Box 6164<br> Indianapolis, IN 46206-6164
								</p>
								<h4>CollegeAmerica®</h4>
								<p>
									P.O. Box 6273<br> Indianapolis, IN 46206-6273<br>
								</p>
								<p></p>
								<h4>Overnight Mail Address</h4>
								<p>
									12711 N. Meridian Street<br> Carmel, IN 46032-9181
								</p>
								<h4>Coverage</h4>
								<p>AK, AZ, CA, CO, HI, ID, IA, IL, IN, KY, MI, MN, MT, NE,
									ND, NV, OH, OR, SD, UT, WA, WI, WY and all locations outside
									the United States.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="parsys_column cq-colctrl-lt0-c1">
					<div class="parbase section media">
						<div
							class="ns-media-component standard dfc2b3d0-4459-45cc-ac70-96a79a03c0ad ">
							<div class="option-layout ">
								<div class="media-padding">
									<div class="disclosure-jumplink-class"
										data-jumplink-type="image"
										data-jumplink-id="2b57a771-6bb5-4be9-b5e0-fdb9b08e62ea"></div>
								</div>
								<div class="option-layout padding-lr-none">
									<div class="media-image ">
										<div class="image padding-lr-none">
											<img
												src="https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/infographic/us_map_2.jpg"
												alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<script>
        mapEnableFeatures("dfc2b3d0-4459-45cc-ac70-96a79a03c0ad","","https://www.americanfunds.com/content/dam/Shared Content/Images/Web-Only Images/infographic/us_map_2.jpg");
</script>
					</div>
					<div class="parbase richtext section text">
						<div class="ns-rte ">
							<div class="disclosure-jumplink-class"
								data-jumplink-type="component"
								data-jumplink-id="725e5e2c-e8ba-4572-bd0a-e7d31c336424"></div>
							<div>
								<h3></h3>
								<h3>Virginia Service Center</h3>
								<h4>American Funds Service Company</h4>
								<p>
									P.O. Box 2280<br> Norfolk, VA 23501-2280
								</p>
								<h4>Capital Bank and Trust Company</h4>
								<p>
									P.O. Box 2560<br> Norfolk, VA 23501-2560
								</p>
								<h4>CollegeAmerica</h4>
								<p>
									P.O. Box 2713<br> Norfolk, VA 23501-2713<br>
								</p>
								<p></p>
								<h4>Overnight Mail Address</h4>
								<p>
									5300 Robin Hood Rd.<br> Norfolk, VA&nbsp; 23513-2430
								</p>
								<h4>Coverage</h4>
								<p>AL, AR, CT, DC, DE, FL, GA, KS, LA, MA, MD, ME, MO, MS,
									NC, NH, NJ, NM, NY, OK, PA, RI, SC, TN, TX, VA, VT and WV.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="clear: both"></div>
			<div class="parbase anchor section">
				<span class="sticky-el" id="online"></span>
			</div>
			<div class="parbase richtext section text">
				<div class="ns-rte ">
					<div class="disclosure-jumplink-class"
						data-jumplink-type="component"
						data-jumplink-id="9bb5230a-2f5c-4773-aace-ea5663d79218"></div>
					<div>
						<hr class="thick default-hr">
						<h3>Submit Documents Online</h3>
						<h4>Do you need to send documents such as forms to American
							Funds?</h4>
						<h4>
							<a adhocenable="false"
								href="https://www.americanfunds.com/advisor/esub/upload.htm">Learn
								More</a>
						</h4>
					</div>
				</div>
			</div>
			<div class="parbase service-invoker section">
				<div class="ns-service-invoker" data-mobilehide="false">
					<div class="desktop-wrapper">
						<div class="state-accounts-default">
							<a href="https://www.americanfunds.com/advisor/login.htm?next=/advisor/contact-us.html">Log
								in to the Advisor site.</a>
						</div>
						<div class="state-site-defined state-accounts-active">
							<a href="https://www.americanfunds.com/advisor/esub/upload.htm">Submit your documents
								securely to us online.</a>
						</div>
					</div>
				</div>
			</div>
			<div class="parbase anchor section">
				<span class="sticky-el" id="comment"></span>
			</div>
			<div class="parbase richtext section text">
				<div class="ns-rte ">
					<div class="disclosure-jumplink-class"
						data-jumplink-type="component"
						data-jumplink-id="0fcf2c4d-001a-4e7c-8d6a-88b1f597fa9a"></div>
					<div>
						<hr class="thick">
						<h3>
							<a name="website"></a>Comment on Our Website
						</h3>
						<h4>How can we make your experience better?</h4>
						<p>
							<a href="#website-feedback">Provide feedback on our website.</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
